#main{
  margin: auto;
  border: 1px solid #000;
  width: 700px;
}
#form{
  padding: 5px 0px 5px 30px;
}
#form label{
  padding-left: 5px;
}
.header{
  background-color: #A3D1FF;
  text-align: center;
  font-size: 17px;
  font-weight: bolder;
}
#recordsTable{
  border: 1px solid #000;
  width: 700px;
}
tr,td,th{
  border: 1px solid #000;
  text-align: center;
}
p{
  text-align: right;
}