#moviesdivChildren,#colorsdivChildren,#drinksdivChildren,#bikesdivChildren{
  display: none;
}
div{
  list-style: none;
  text-decoration: none;
  padding: -50px 5px 5px 5px;
}
div ul li{
  list-style: none;
}
.children{
  margin-left: 30px;
}
#outermostdiv{ 
  display: block; 
  height: 100px;
  border: 1px solid #000;
  overflow: scroll;
  list-style: none;
  margin: auto;
  width: 400px;
  margin-top: 50px;
}
