#main{
  margin: auto;
  width: 700px;
  height: 500px;
}
#header{
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
}
.Icon{
  height: 70px;
  width: 70px;
}
.module{
  margin: auto;
  text-align: center;
  border: solid 1px black;
  padding: 10px 0px 10px 0px;
}
.moduleCopy{
  margin: auto;
  text-align: center;
  border: solid 1px black;
  padding: 10px 0px 10px 0px;
}
.module div{
  margin-left: 250px;
  width: 200px;
}
.moduleCopy div{
  margin-left: 250px;
  width: 200px;
}
#booksTable{
  margin-left: 250px;
  border: solid 2px blue;
}
tr,td{
  border: solid 1px blue;
}
#myList li{
  text-align: left;
}
#hiddenCount{
  max-width: 20px;
}