#main{
  margin: auto;
  border: 2px solid black;
  width: 500px;
  height: 450px;
  background-color: black;
}
.brandIcon{
  width: 70px;
  height: 70px;
  margin: 3px;
  position: relative;
  float: left;
}
#sortlist{
  width: 500px;
}