#main{
  border: 2px solid black;
  margin: auto;
  width: 500px;
  padding-left: 20px;
}
.resultDiv ul {
  list-style: none;
  padding: 0 0 0 5px;
}
.resultDiv{
  background-color: #ECF6FF;
  width: 170px;
  padding: 0px;
}
.listElement:hover {
  background-color: #CECEFF; 
}