#main{
  margin: auto;
  border: 2px solid black;
  width: 500px;
  background-color: #FFFFCC;
  font-family: "sans-serif","tahoma";
  font-size: 15px;
}
#formHeading{
  background-color: #B2B28F;
  padding-bottom: 5px;
  margin: 0px;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
}
#form{
  margin-left: 5px;
  display: inline-block;
  width: 100%;
} 
#checkButton{
  background: #B2B28F;
  color: white;
  float: left;
  margin-left: 30%;
}
.textField{
  float: right;
  margin-right: 20%;
  width: 250px;
}
#resultDiv{
  display: block;
  margin-top: 50px;
  text-align: center;
}