#main{

  margin: auto;
  border: 2px solid black;
  width: 500px;
  background-color: #EAFFEA;
  font-family: "sans-serif","tahoma";
  font-size: 15px;
}
#formHead{
  background-color: #85AD33;
  padding-bottom: 5px;
  margin: 0px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;

}
#myForm{
  margin-left: 5px;
  display: inline-block;
}

#submit {
  font-size: 13px;
  font-weight: normal;
}
#submit span {
  text-align: center;
  width: 100%;
  display: block;
  float: left;
} 
#submit #submitbutton {
  background: #5C8533;
  color: white;
  float: left;
  margin-left: 50%;
}
.checkPoint{
  float: right;
  margin-right: 150px;
}
#TimezoneDropDown{
  margin-left: 90px;
}
.message{
  font-size: 12px;
  padding-bottom: 5px;
  margin: -100px 0px 0px 0px;
}
#aboutme{
  margin: 0px 7px 0px 0px;
}