#main{
  margin: auto;
  background-color: #FFE0FF;
  width: 500px;
  text-align: center;
  border: 2px solid #806161;
  height: 100px;
  padding: 10px 0px 10px 0px;
}
#header{
  background-color: #f5f5f5;
  height: 10%;
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  text-transform: uppercase;
}
form{
  padding-top: 20px;
}