#main{
  margin: auto;
  border: 2px solid black;
  width: 500px;
  background-color: #FFFF66;
  font-family: "sans-serif","tahoma";
  font-size: 15px;
}
#formHeader{
  background-color: #99993D;
  padding-bottom: 5px;
  margin: 0px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
#form11{
  margin-left: 10px;
} 
#submitbutton {
  background: #99993D;
  color: white;
  /*float: left;*/
  margin-left: 40%;
}
.textField{
  float: right;
  margin-right: 150px;
}