#main{
  margin: auto;
  margin-left: 400px;
}
#left,#middle,#right{
  float: left;
}
#middle input{
  background-color: #FF4719;
  display: block;
  margin: 30px 10px 0px 10px;
  width: 90px;
}
#middle{
  display: block;
  height: 100%;
}
#countryList2{
  width: 130px;
  margin-left: 3px;
}