#main{
  margin: auto;
  width: 700px;
  height: 500px;
}
#header{
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
}
.Icon{
  height: 70px;
  width: 70px;
}
.module{
  margin: auto;
  text-align: center;
  border: solid 1px black;
  padding: 10px 0px 10px 0px;
}
.module div{
  margin-left: 250px;
  width: 200px;
}
.list li{
  text-align: left;
}
.formClass{
  background-color: #f5f5f5;
}
.current{
  text-decoration: underline;
}
.disabled{
  background-color: yellow;
}