#main{
  margin: auto;
  border: 2px solid red;
  width: 500px;
  height: 350px;
  background-color: #FFEDCC;
  text-align: center;
}
#tabs{
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  background-color: #C2D6FF;
}
#tabs ul li{
  float: left;
  text-decoration: none;
  list-style: none;
  padding: 5px;
  border: 1px solid blue;
  width: 20%;
  text-align: center;
  margin: 0px;
  background-color: #C4C4C4;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
#tabContent{
  width: 250px;
  text-align: left;
  margin-left: 150px;
}